.container:after {/*очистка потока для элемента с классом .container:*/
  content: "";
  display: table;
  clear: both;
  background-color: orange;
}
.main{
	background-color:black;
}
.logo{
	  line-height: 38px;
	background-image:url(img/log.jpg);
	
}
body{
	margin:0;
}

.container {
  width: 98%;
  /*max-width: 1024px;  Если значение ширины (width) больше значения max-width, то ширина элемента принимается равной значению max-width*/
  max-width: 1450px;/*Сделано для того, что бы на больших экранах не бегать глазами по всему экрану*/
  padding: 0 15px;
  margin: 0 auto; /*Устанавливает величину отступа от каждого края элемента*/
  height:250px;/*Высота*/
  background-color: orange;
}
/*НАЧАЛО ОПИСАНИЕ ГОЛОВЫ*/
.logo {
  float: left;
}

.one {
  width: 100%;/* обрезка меню на ширину в 660 пикс*/
  /*margin: 0 auto 30px;*/
  background-color:green;
}
ul {/*Отступы в менюшке у всех UL*/
  list-style: none; 
  margin: 0;
  padding: 0;
}
header{
	position:fixed;
	width: 100%;
}
.topmenu > li {
  display: inline-block;/*Выстраивает кнопки меню в ряд*/
  margin-right: 30px;
  position: relative;
}
a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  /*outline: none;*/
  font-family: 'Lora', serif;
  color: #695753;
}
.submenu {/*Отвечает за выпадающее меню*/
  position: absolute;
  top: 100%;
  left: 0px;
  width: 310%;
  /*z-index: 10;*/
}
.one ul {/**/
  background: #ECDAD6;
}
.one .submenu {/*Скрывает подменю*/
  display: none;
}
.one ul li:hover .submenu {/*При наведение мышки(hover) происходит описанное действие*/
  display: block;
  background: #b19891;
}
.submenu a {/*При наведение мышки(hover) происходит описанное действие*/
  font-size:11pt;
}
/*.submenu input {
  margin: 10px;
}*/
.submenu li a {/*ПРименяем изменение текста в выпадающ. меню*/
  border-bottom: 1px solid rgba(255,255,255,.3);
  color: white;
}
/*КОНЕЦ ОПИСАНИЯ ГОЛОВЫ*/
/*nav {
  float: left ;
  margin-left: 15px;
}*/
/*nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}*/
/*nav li {
  display: inline-block; /*один из способов разместить элементы в строку*/
/*}*/

 /*nav a {
  text-decoration: none;
  line-height: 38px;
}*/
.container:after, .row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  margin-bottom: 50px;
  background-color:red;
}
.col-3-5 {
  width: 60%;
  float: left;
  background-color:aqua;
  /*border: 1px solid #333;*/
  /*border: 5px black;*//*Бордер не работает почему то?*/ 
}
.col-1-5 {
  width: 20%;
  float: left;
  background-color:magenta;
}
.col-1-3 {
  width: 33.3333333333%;
  float: left;
  background-color:aqua;
}